* {
	margin: 0;
	padding: 0;
	border: 0;

	outline: none;
	text-decoration: none;
	outline: none;

	font-family: 'EB Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
	}

ol,
ul,
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

body {
    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffeedf;
    
}
@media screen and (max-width: 1024px) {

div {
    
    height: 389px;
    width: 263px;
    margin: 31px;
    padding: 27px;

    background-color: #fff;
}

h2 {
    color: #33793f;
    font-family: "Garamond";
    font-size: 48px;
    font-weight: 400;

}

h6 {
    color: #999;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p {
    color: #999;
    font-family: "Garamond";
    font-size: 24px;
    font-weight: normal;
}

}
@media screen and (min-width: 1025px) {
div {
    display: flex;
    flex-direction: column;
    height: 389px;
    width: 263px;
    padding: 27px;
    margin: 31px;

    background-color: #fff;
}

h2 {
    color: #33793f;
    font-family: "Garamond";
    font-size: 48px;
    font-weight: 400;

}

h6 {
    color: #999;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p {
    color: #999;
    font-family: "Garamond";
    font-size: 24px;
    font-weight: 400;
}
}